<!-- views/applicants.ejs -->
<!DOCTYPE html>
<html lang="fr">
<head>
  <title>Candidats pour <%= job.description %></title>
  <!-- Include Montserrat Font and Tailwind CSS -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/tailwind.css">
</head>
<body class="bg-gray-50 min-h-screen">
  <!-- Header -->
  <%- include('header-login') %>

  <!-- Main Container -->
  <div class="container mx-auto px-4 py-12">
    <h1 class="text-3xl font-bold mb-8 text-center">Candidats pour le job : <%= job.description %></h1>

    <% if (applicants.length > 0) { %>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <% applicants.forEach(function(applicant) { %>
          <div class="bg-white rounded-lg shadow-md overflow-hidden">
            <div class="p-6 flex flex-col items-center">
              
              <!-- Centered Applicant Picture -->
              <% if (applicant.profilePictureUrl) { %>
                <img src="<%= applicant.profilePictureUrl %>" alt="Photo de Profil" class="h-32 w-32 object-cover rounded-full mb-4">
              <% } %>

              <!-- Applicant Name -->
              <h2 class="text-xl font-semibold text-blue-950 mb-2 text-center"><%= applicant.firstName %> <%= applicant.lastName %></h2>

              <!-- Columns for Applicant Details -->
              <div class="w-full flex flex-col sm:flex-row justify-between">
                <div class="mb-4 sm:mb-0 sm:w-1/2 pr-2">
                  <!-- Applicant Age -->
                  <% if (applicant.age) { %>
                    <p class="text-gray-600 text-sm mb-2">
                      <strong>Âge :</strong> <%= applicant.age %> ans
                    </p>
                  <% } %>

                  <!-- Email -->
                  <p class="text-gray-600 text-sm mb-2">
                    <strong>Email :</strong> <%= applicant.email %>
                  </p>

                  <!-- Current Situation -->
                  <% if (applicant.currentSituation) { %>
                    <p class="text-gray-600 text-sm mb-2">
                      <strong>Situation actuelle :</strong> <%= applicant.currentSituation %>
                    </p>
                  <% } %>

                      <!-- CV URL -->
                  <% if (applicant.cvUrl) { %>
                    <p class="text-gray-600 text-sm mb-2">
                      <strong>CV :</strong>
                      <a href="<%= applicant.cvUrl %>" target="_blank" class="text-blue-500 hover:underline">Voir le CV</a>
                    </p>
                  <% } %>
                </div>

                <div class="sm:w-1/2 pl-2">
                  <!-- Description -->
                  <% if (applicant.description) { %>
                    <p class="text-gray-600 text-sm mb-2">
                      <strong>Description :</strong> <%= applicant.description %>
                    </p>
                  <% } %>

                  <!-- Past Experience -->
                  <% if (applicant.pastExperience && applicant.pastExperience.length > 0) { %>
                    <p class="text-gray-600 text-sm mb-2">
                      <strong>Expérience(s) passée(s) :</strong><% applicant.pastExperience %>
                      
                    </p>
                  <% } %>

                  <!-- Availability -->
                  <% if (applicant.availability && applicant.availability.length > 0) { %>
                    <p class="text-gray-600 text-sm mb-2">
                      <strong>Disponibilités :</strong> <%= applicant.availability %>
                    </p>
                  <% } %>
              
                </div>
              </div>

              

              <!-- Selection Status -->
              <p class="text-gray-600 text-sm mb-4">
                <strong>Statut :</strong>
                <% if (job.selectedApplicant && job.selectedApplicant._id.toString() === applicant._id.toString()) { %>
                  <span class="text-green-500 font-semibold">Sélectionné</span>
                  <p class="text-red-600 text-sm mb-2">
                    <strong>Son numéro :</strong> <%= applicant.number %>
                  </p>

                <% } else { %>
                  <span class="text-orange-500 font-semibold">En attente</span>
                <% } %>
              </p>

              <!-- Action Buttons -->
              <div class="flex justify-between items-center w-full">
                <% if (!job.selectedApplicant || job.selectedApplicant._id.toString() !== applicant._id.toString()) { %>
                  <form action="/jobs/select-applicant/<%= job._id %>/<%= applicant._id %>" method="POST">
                    <button type="submit" class="bg-green-500 text-white px-4 py-2 rounded" onclick="return confirm('Êtes-vous sûr de vouloir sélectionner ce candidat ?');">Choisir</button>
                  </form>
                <% } else { %>
                  <form action="/jobs/deselect-applicant/<%= job._id %>" method="POST">
                    <button type="submit" class="bg-red-500 text-white px-4 py-2 rounded" onclick="return confirm('Êtes-vous sûr de vouloir désélectionner ce candidat ?');">Désélectionner</button>
                  </form>
                <% } %>
              </div>
            </div>
          </div>
        <% }); %>
      </div>
    <% } else { %>
      <p class="text-center text-gray-600">Aucun candidat pour ce job.</p>
    <% } %>
  </div>
</body>
</html>
