<!-- views/job.ejs -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title><%= job.description %> - Détails du Job</title>
    <!-- Include Montserrat Font and Tailwind CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/tailwind.css">
</head>
<body class="bg-gray-50 font-montserrat">
    <%- include('header-login') %>
    <!-- Main Content Container -->
    <div class="max-w-xl mx-auto px-10 mt-2 py-12 relative">
        <a href="/jobs" class="absolute top-0 left-2 sm:left-0 bg-blue-950 text-white px-4 py-2 rounded-lg shadow-md hover:bg-blue-800 transition-colors duration-200 flex items-center">
            <!-- Optional: Add an SVG Icon for the Back Arrow -->
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
            </svg>
        </a>
        <!-- Job Details Card -->
        <div class="bg-white rounded-2xl shadow-md overflow-hidden">
            <div class="px-6 pb-6">
                <!-- Job Description -->
                <h1 class="text-3xl font-bold text-gray-800 mb-2 text-center"><%= job.description %></h1>
                <!-- Date and Time -->
                <p class="text-gray-600 text-lg text-center">Date: <%= job.dateAndTime.toLocaleString('fr-FR') %></p>
                <!-- Remuneration -->
                <p class="text-gray-600 text-lg text-center">Rémunération: €<%= job.remuneration %></p>
                <!-- Other Details -->
                <!-- ... Include other job details as needed -->
                <!-- Apply Button -->
                <div class="flex justify-center mt-6">
                    <form action="/apply/<%= job._id %>" method="POST">
                        <button type="submit" class="shadow bg-blue-950 hover:bg-blue-800 text-white font-semibold px-6 py-2 rounded-full transition duration-300">
                            Postuler
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
