<!-- views/jobs.ejs -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Trouver un Job</title>
    <!-- Include Montserrat Font and Tailwind CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/tailwind.css">
</head>
<body class="bg-gray-50 font-montserrat">
    <%- include('header-login') %>
    <!-- Main Container -->
    <div class="flex min-h-screen">
        
        <!-- Sidebar -->
        <aside class="sm:w-1/5 p-4 bg-white border-r border-gray-300 sticky top-[4rem] h-screen overflow-y-auto hidden sm:block">
            <!-- Filter Form -->
            <form action="/jobs" method="GET">
                <!-- Hidden Inputs for Selected Filters -->
                <input type="hidden" name="missionTypes" id="selected-mission-types" />
                <input type="hidden" name="contractTypes" id="selected-contract-types" />
                <input type="hidden" name="minAge" id="selected-min-age" />
                <input type="hidden" name="remunerationMin" id="selected-remuneration-min" />
                <input type="hidden" name="remunerationMax" id="selected-remuneration-max" />
                <input type="hidden" name="dateStart" id="selected-date-start" />
                <input type="hidden" name="dateEnd" id="selected-date-end" />
                <input type="hidden" name="cities" id="selected-cities" />
                
                <!-- Header with Rechercher and Filtrer button -->
                <div class="flex items-center justify-between bg-white rounded shadow p-2 mb-6">
                    <h2 class="text-lg font-semibold text-blue-950">
                        Rechercher
                    </h2>
                    <button type="submit" class="shadow bg-blue-950 hover:bg-blue-800 text-white font-semibold px-4 py-1 rounded">
                        Filtrer
                    </button>
                </div>

                <!-- Filter Options -->
                <div id="filters" class="space-y-6">
                    <!-- Mission Type Filter -->
                    <div>
                        <h3 class="font-semibold mb-2 text-blue-950">Type de Mission</h3>
                        <div class="flex flex-wrap gap-2">
                            <% ['Ponctuel', 'Récurrent'].forEach(function(type) { %>
                                <button type="button" class="filter-button shadow-md px-3 py-1 bg-white text-blue-950 rounded-full hover:text-white hover:bg-blue-950 text-sm focus:outline-none" data-filter="<%= type.toLowerCase() %>" data-filter-type="MissionType">
                                    <%= type %>
                                </button>
                            <% }); %>
                        </div>
                    </div>
                    <div>
                        <h3 class="font-semibold mb-2 text-blue-950">Ville</h3>
                        <div class="flex flex-wrap gap-2">
                            <% cities.forEach(function(city) { %>
                                <button type="button" class="filter-button shadow-md px-3 py-1 bg-white text-blue-950 rounded-full hover:text-white hover:bg-blue-950 text-sm focus:outline-none" data-filter="<%= city %>" data-filter-type="City">
                                    <%= city %>
                                </button>
                            <% }); %>
                        </div>
                    </div>

                    <!-- Contract Type Filter -->
                    <div>
                        <h3 class="font-semibold mb-2 text-blue-950">Type de Contrat</h3>
                        <div class="flex flex-wrap gap-2">
                            <% ['Extra', 'CDD', 'CDI', 'Autre'].forEach(function(type) { %>
                                <button type="button" class="filter-button shadow-md px-3 py-1 bg-white text-blue-950 rounded-full hover:text-white hover:bg-blue-950 text-sm focus:outline-none" data-filter="<%= type.toLowerCase() %>" data-filter-type="ContractType">
                                    <%= type %>
                                </button>
                            <% }); %>
                        </div>
                    </div>

                    <!-- Minimum Age Filter -->
                    <div>
                        <h3 class="font-semibold mb-2 text-blue-950">Âge Minimum</h3>
                        <input type="number" name="minAgeInput" id="min-age-input" class="w-full px-2 py-1 border rounded" placeholder="Âge minimum" min="16" max="99" />
                    </div>

                    <!-- Remuneration Range Filter -->
                    <div>
                        <h3 class="font-semibold mb-2 text-blue-950">Rémunération (€)</h3>
                        <div class="flex items-center space-x-2">
                            <input type="number" name="remunerationMinInput" id="remuneration-min-input" class="w-20 px-2 py-1 border rounded" placeholder="Min" min="0" />
                            <span>-</span>
                            <input type="number" name="remunerationMaxInput" id="remuneration-max-input" class="w-20 px-2 py-1 border rounded" placeholder="Max" min="0" />
                        </div>
                    </div>

                    <!-- Date Range Filter -->
                    <div>
                        <h3 class="font-semibold mb-2 text-blue-950">Date de la Mission</h3>
                        <div class="flex items-center space-x-2">
                            <input type="date" name="dateStartInput" id="date-start-input" class="w-full px-2 py-1 border rounded" />
                            <span>-</span>
                            <input type="date" name="dateEndInput" id="date-end-input" class="w-full px-2 py-1 border rounded" />
                        </div>
                    </div>
                </div>
            </form>
        </aside>

        <!-- Main Content -->
        <main class="sm:w-4/5 w-full">
            <div class="sticky top-[4rem] z-20 bg-white p-3 border-b border-gray-300">
                <div id="selected-filters-container" class="flex flex-wrap space-x-2">
                    <!-- Selected filters will be displayed here as bubbles -->
                </div>
                
                <h1 class="relative text-lg text-blue-950 font-semibold">
                  <span class="relative inline-block px-4 py-1 mr-2">
                    <span class="absolute inset-0 bg-orange-500 rounded-lg z-0 drop-shadow-lg"></span>
                    <span class="relative font-semibold text-lg text-white z-10">
                    Étape 1</span>
                  </span>
                  Trouver un job qui vous correspond
                </h1>
            </div>
            
            <% if (jobs.length > 0) { %>
                
                <% const now = new Date(); %>
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 p-2 gap-6">
                    <% jobs.forEach(function(job) { %>
                        <% const jobTime = new Date(job.dateAndTime); %>
                        <% const timeDifference = jobTime - now; %>
                        <% const isUrgent = timeDifference <= 48 * 60 * 60 * 1000 && timeDifference > 0; %>
                        <% if (!job.selectedApplicant && timeDifference > 0) { %>
                        <div class="job-card bg-white rounded-lg shadow-md overflow-hidden transform hover:scale-102 hover:rotate-1">
                            <!-- Background Image -->
                            <% if (job.createdBy.restaurantPictureUrl) { %>
                                <div class="relative h-36">
                                    <img src="<%= job.createdBy.restaurantPictureUrl %>" alt="Restaurant Background" class="w-full h-full object-cover">
                                    <!-- Logo Bubble -->
                                    <% if (job.createdBy.logoUrl) { %>
                                        <div class="absolute -bottom-8 left-1/2 transform -translate-x-1/2">
                                            <img src="<%= job.createdBy.logoUrl %>" alt="Restaurant Logo" class="w-16 h-16 rounded-full border-4 border-white shadow-md">
                                        </div>
                                    <% } %>
                                </div>
                            <% } else { %>
                                <!-- Default Background -->
                                <div class="relative h-16 bg-gray-200">
                                    <!-- Logo Bubble -->
                                    <% if (job.createdBy.logoUrl) { %>
                                        <div class="absolute -bottom-8 left-1/2 transform -translate-x-1/2">
                                            <img src="<%= job.createdBy.logoUrl %>" alt="Restaurant Logo" class="w-16 h-16 rounded-full border-4 border-white shadow-md">
                                        </div>
                                    <% } %>
                                </div>
                            <% } %>
    
                            <!-- Job Info -->
                            <div class="pt-4 pb-6 px-6">
                                <% if (isUrgent) { %>
                                    <div class="flex justify-end">
                                      <span class="bg-red-500 text-white px-2 py-1 rounded-full text-xs font-bold">Moins de -48H</span>
                                    </div>
                                <% } else { %>
                                    <div class="flex justify-end">
                                        <span class="bg-green-500 text-white px-2 py-1 rounded-full text-xs font-bold">Disponible</span>
                                      </div>
                                <% } %>
                                <!-- Restaurant Name -->
                                <div class="grid grid-cols-2 gap-4">
                                <h3 class="text-xl font-semibold text-center text-blue-950 mb-2"><%= job.createdBy.name %></h3>
                                <!-- Job Title -->
                                <h4 class="text-lg font-medium text-center text-gray-700 mb-2"><%= job.contractType %></h4>
                                </div>

                                <p class="text-sm font-semibold text-center text-gray-800 mb-2">
                                
                                    <% for (let i = 1; i <= 5; i++) { %>
                                      <% if (i <= Math.round(job.createdBy.averageRating)) { %>
                                        <i class="fas fa-star text-yellow-500"></i> <!-- Filled star for rating -->
                                      <% } else { %>
                                        <i class="far fa-star text-gray-400"></i> <!-- Outline star for remaining -->
                                      <% } %>
                                    <% } %>
                                  </p>
                                <h3 class="text-lg font-medium text-center text-blue-950 mb-2"><%= job.createdBy.addresses %></h3>
                                <!-- Two Columns Layout -->
                                <div class="grid grid-cols-2 gap-4">
                                    <!-- Left Column -->
                                    <div>
                                        <!-- Date and Time -->
                                        <p class="text-gray-600 text-sm mb-2">
                                            <strong>Date:</strong> <%= job.dateAndTime.toLocaleDateString('fr-FR', { day: 'numeric', month: 'long', year: 'numeric' }) %>
                                        </p>
                                        <!-- Time -->
                                        <p class="text-gray-600 text-sm mb-2">
                                            <strong>Heure:</strong> <%= job.dateAndTime.toLocaleTimeString('fr-FR', { hour: '2-digit', minute: '2-digit' }) %>
                                        </p>
                                        <!-- Duration -->
                                        <p class="text-gray-600 text-sm mb-2">
                                            <strong>Durée:</strong> <%= job.jobDuration %> heure(s)
                                        </p>
                                        <!-- Remuneration -->
                                        <p class="text-gray-600 text-sm mb-2">
                                            <strong>Rémunération:</strong> €<%= job.remuneration.toFixed(2) %>
                                        </p>
                                    </div>
                                    <!-- Right Column -->
                                    <div>
                                        <!-- Contract Type -->
                                        <p class="text-gray-600 text-sm mb-2">
                                            <strong>Type de Contrat:</strong> <%= job.contractType %>
                                        </p>
                                        <!-- Mission -->
                                        <p class="text-gray-600 text-sm mb-2">
                                            <strong>Mission:</strong> <%= job.mission %>
                                        </p>
                                        <!-- Minimum Age -->
                                        <p class="text-gray-600 text-sm mb-2">
                                            <strong>Âge Minimum:</strong> <%= job.minAge %> ans
                                        </p>
                                        <!-- Attire Required -->
                                        <% if (job.attireRequired) { %>
                                            <p class="text-gray-600 text-sm mb-2">
                                                <strong>Tenue :</strong> <%= job.attireRequired %>
                                            </p>
                                        <% } %>
                                    </div>
                                </div>
    
                                <!-- Apply Button -->
                                 <!-- Action Buttons -->
                                <div class="flex justify-end mt-2">
                                    <% if (!job.applicants.includes(studentId) && (!job.selectedApplicant || job.selectedApplicant !== studentId)) { %>
                                    <!-- Apply Button -->
                                    <form action="/jobs/apply/<%= job._id %>" method="POST" onsubmit="return confirm('Êtes-vous sûr de vouloir postuler ?');">
                                        <button type="submit" class="bg-blue-950 hover:bg-blue-700 text-white px-2 py-1 rounded">Postuler</button>
                                    </form>
                                    <% } else if (job.applicants.includes(studentId) && (!job.selectedApplicant || job.selectedApplicant !== studentId)) { %>
                                    <!-- Withdraw Application Button -->
                                    <form action="/jobs/withdraw/<%= job._id %>" method="POST" onsubmit="return confirm('Êtes-vous sûr de vouloir retirer votre candidature ?');">
                                        <button type="submit" class="bg-red-500 hover:bg-red-700 text-white px-2 py-1 rounded">Retirer Candidature</button>
                                    </form>
                                    <% } else if (job.selectedApplicant === studentId) { %>
                                    <!-- Contact Info -->
                                    <p class="text-gray-600 text-sm">
                                        <strong>En cas de problème :</strong>
                                        <span class="text-red-500 font-semibold"><%= job.createdBy.emergencyPhone %></span>
                                    </p>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                        <% } %>
                        
                    <% }); %>
                </div>
            <% } else { %>
                <p class="text-center text-gray-600">Aucune offre d'emploi disponible pour le moment.</p>
            
            
        </div>
        <% } %>
    <script src="/js/filters.js"></script>
</body>
</html>
